html body {
  background-color: rgb(255, 255, 255);
}
.top {
  position: absolute;
  top: 0%;
  left: 33%;
}
/*.welcome {
  color: red;
  text-align: center;
}
.msg {
  color: red;
  text-align: center;
  text-decoration-line: underline;
}
.block {
  width: 900px;
  height: 100px;
  margin: auto;
}*/
.intro {
  text-align: center;
   margin-top: 15%;
   left: 4%;
   font-family: 'Open Sans Condensed', sans-serif;
   font-weight: 300;
   font-size: 15pt;
} */
.navbar{
  background:rgb(64, 40, 102);
 }
 .nav-link , .navbar-brand{
  color: #f4f4f4;
  font-family: 'Open Sans Condensed', sans-serif;
 }
 .nav-link{
  margin-right: 1em !important;
 }
 .nav-link:hover{
  background: #f4f4f4;
  color: rgb(64, 40, 102);
 }
 .navbar-collapse{
  justify-content: flex-end;
 }
 .navbar-toggler{
   background:#fff !important;
 }

 .header{
  height: 75px;
  width: 100%;
  background-image: url(img/guppy_loveHeaderB.jpg);
  background-size: cover;
  background-position: 40% 60%;
 }
 #myvideo {
  position: fixed;
  min-height: 100%;
  min-width: 100%;
 }
 
 /* .overlay{
   position: absolute;
   min-height: 100%;
   min-width: 100%;
   background:rgba(244, 244, 244, 0.50);
 }*/
 .greeting{
   text-align: center;
   margin-top: 4%;
   left: 4%;
   font-family: 'Open Sans Condensed', sans-serif;
   font-weight: 300;
 }

 .about{
  position: fixed;
  height: 300px;
  width: 100%;
  top: 38%;
  /* background-color: #fff; */
 }
 .footer-colored{
   background: rgb(118, 42, 142);
   color: #fff;
   font-family: 'Open Sans Condensed', sans-serif;
   text-align: center;
   height: 30px;
 }
 /* .section{
   position: absolute;
   margin-top: 8%;
   left: 4%;
   font-family: 'Open Sans Condensed', sans-serif;
   font-weight: 300;
   text-align: center;
 } */
