html body{
  background-color: rgb(255, 255, 255);
  font-family: 'Open Sans Condensed', sans-serif;
}
.top {
  position: absolute;
  top: 0%;
  left: 33%;
}
.intro {
  position: fixed;
  top: 20%;
  text-align: center;
  margin: auto;
  top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
  font-weight: 300;
  font-size: 22pt;
}
.type-info {
  text-align: center;
  margin-top: 15%;
  margin-bottom: 5%;
  font-weight: 300;
  font-size: 10pt;
}
.type-text{
  margin-bottom: 10px;
  list-style: none;
}
.navbar{
  background:rgb(64, 40, 102);
 }
 .nav-link , .navbar-brand{
  color: #fff !important;
 }
 .nav-link{
  margin-right: 1em !important;
 }
 .nav-link:hover{
  color: rgb(189, 135, 228) !important;
 }
 .navbar-collapse{
  justify-content: flex-end;
 }
 .navbar-toggler{
   background: rgb(64, 40, 102) !important;
 }
 .header{
  height: 75px;
  width: 100%;
  background-image: url(img/guppy_loveHeaderB.jpg);
  background-size: cover;
  background-position: 40% 60%;
 }
 #myvideo {
  position: fixed;
  min-height: 100%;
  min-width: 100%;
 }
 .overlay-male{
   position: absolute;
   top: 24%;
   height: 3%;
   width: 9.25%;
   background:rgba(206, 50, 50);
   color: #fff;
 }
 .overlay-female{
  position: absolute;
  top: 24%;
  left: 89.7%;
  height: 3%;
  width: 9.25%;
  background:rgba(206, 50, 50);
  color: #fff;
}
 .greeting{
   text-align: center;
   margin-top: 4%;
   left: 4%;
   font-weight: 300;
 }
 .about{
  position: fixed;
  height: 300px;
  width: 100%;
  top: 25%;
 }
 .video{
   position: absolute;
   top: 100%;
 }
 .shop-header{
  min-width: 100%;
  margin-top: 75px;
 }
.line{
  position: fixed;
  top: 58%;
  height: 10px;
  width: 100%;
  background:black;
}
.under-construction{
  text-align: center;
  margin-top: 400px;
  left: 4%;
}
